.notFound {
  text-align: center;
  margin-top: 50px;

  h1 {
    font-size: 100px;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  a {
    font-size: 18px;
    color: #4361ee;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
